<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ห้องสมุด</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/95f7524860.js" crossorigin="anonymous"></script>
 
  

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-ct-bo">
    <div class="container">
      <a class="navbar-brand navbar-brand-logo" href="about.html">
        <div class="logo">
          <img src="image/logo1.png">
        </div>
        <div class="brand  text-primary"> ห้องสมุดเพื่อการเรียนรู้อนงคาราม </div>
      </a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-primary" href="about.html">ประวัติห้องสมุด</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="services.html">บริการห้องสมุด</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="contact.html">ติดต่อเรา</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
             หนังสือและสื่อสิ่งพิมพ์
            </a>
            <div class="dropdown-menu dropdown-menu-right text-primary" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
              <a class="dropdown-item" href="portfolio-3-col.html">หนังสือแนะนำ</a>
              <a class="dropdown-item" href="portfolio-4-col.html">หนังสือมาใหม่</a>
              <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              ข่าวสาร/กิจกรรม
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="blog-home-1.html">กิจกรรมห้องสมุด</a>
              <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
              <a class="dropdown-item" href="blog-post.html">Blog Post</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownPages" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              ระบบงานห้องสมุดอื่นๆ
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
              <a class="dropdown-item" href="full-width.html">(E-Book Management)</a>
              <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
              <a class="dropdown-item" href="faq.html">ระบบถาม-ตอบ (Q&A) </a>
              <a class="dropdown-item" href="404.html">404</a>
              <a class="dropdown-item" href="pricing.html">Pricing Table</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('http://placehold.it/1900x1080')">
          <div class="carousel-caption d-none d-md-block">
            <h3> กิจกรรมวันรักการอ่าน </h3>
            <p>การอ่านหนังสือเพื่อพัฒนาตนเอง และเพื่อการใช้เวลาว่างให้เกิดประโยชน์</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
          <div class="carousel-caption d-none d-md-block">
            <h3>กิจกรรมวันภาษาไทย</h3>
            <p>เรียนรู้และเห็นคุณค่าของภาษาไทย </p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
          <div class="carousel-caption d-none d-md-block">
            <h3>เทศกาลบอกรักด้วยหนังสือ</h3>
            <p> สื่อรักด้วยหัวใจ เพื่อเป็นการสร้างกระแสให้คนรุ่น ยุค 5G</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">


    <!-- Portfolio Section -->
    <h2>บริการของห้องสมุดฯอนงคาราม</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">บริการ มัลติมีเดีย</a>
            </h4>
            <p class="card-text">บริการ E-Book และมัลติมีเดีย ยืม – คืน อุปกรณ์ ห้องค้นคว้า ห้องวีดีทัศน์ ตู้ล็อคเกอร์
              ฟรีอินเตอร์เน็ต ข้อตกลงการใช้บริการ ฯลฯ ฟรี</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">บริการ สมัครสมาชิก</a>
            </h4>
            <p class="card-text">ให้บริการสมัครสมาชิกผ่านระบบ online และ ระบบ offline โดยทางห้องสมุดอนงคารามยินดีให้บริการประชาชนทุกท่านฟรี  </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">บริการ  จอง/ขอใช้บริการ </a>
            </h4>
            <p class="card-text">ทางห้องสมุดเราเปิดให้บริการจองและขอใช้บริการหนังสือแก่สมาชิกห้องสมุดของเรา</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">ห้องค้นคว้า</a>
            </h4>
            <p class="card-text">ให้บริการห้องค้นคว้าแก่ประชาชนทุกเพศทุกวัย</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">ผังห้องสมุด</a>
            </h4>
            <p class="card-text">ห้องสมุดนี้เหมือนศูนย์กลางของชุมชนมีชื่อห้องดังนี้....... </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">ฟรีอินเตอร์เน็ต</a>
            </h4>
            <p class="card-text">ให้บริการฟรีอินเตอร์เน็ตสำหรับประชาชนที่เข้ามาใช้บริการ</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <h1 class="my-4">กิจกรรมห้องฯสมุดอนงคาราม</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">กิจกรรมวันรักการอ่าน</h4>
          <div class="card-body">
            <p class="card-text"> การอ่านหนังสือเพื่อพัฒนาตนเอง
              และเพื่อการใช้เวลาว่างให้เกิดประโยชน์เป็นสิ่งจำเป็นมากในการพัฒนาคน

            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">อ่านต่อ...</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">กิจกรรมวันภาษาไทย</h4>
          <div class="card-body">
            <p class="card-text">ร่วมการเรียนรู้ทุกกิจกรรมมีความสุขสนุกสนานในการเรียนรู้และเห็นคุณค่าของภาษาไทย
              สืบสานวัฒนธรรมของชาติไทย</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">อ่านต่อ...</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">เทศกาลบอกรักด้วยหนังสือ</h4>
          <div class="card-body">
            <p class="card-text">กิจกรรมบอกรักด้วยหนังสือ สื่อรักด้วยหัวใจ เพื่อเป็นการสร้างกระแสให้คนรุ่นใหม่
              ใช้หนังสือเป็นสื่อในการบอกรักกัน นำไปสู่การมีนิสัยรักการอ่าน </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">อ่านต่อ...</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>การเดินทาง แผนที่การเดินทาง รถแท็กซี่ เรือโดยสาร รถประจำทาง</h2>
        <p>
          การเดินทาง

          รถแท็กซี่: สี่แยกคอกวัว ถ.ราชดำเนิน
          เรือโดยสารคลองแสนแสบ: ท่าผ่านฟ้าลีลาศ
          รถประจำทาง: 2, 9, 15, 32, 35, 42, 44, 47, 59, 60, 68, 70, 79, 82, 124, 127, 171, 183, 203, ปอ.60, ปอ.127,
          ปอ.157, ปอ.503, ปอ.509, ปอ.511, ปอ.516, ปอ.556
          ที่จอดรถ: ไม่มี
</p>
        <ul>
          <li>
            <strong>วิสัยทัศน์</strong>
          </li>
          <li>พัฒนาห้องสมุดให้เป็นแหล่งเรียนรู้หลักของประชาชน และเอื้อต่อการเรียนรู้ตลอดชีวิต</li>
          <li>สร้างนิสัยรักการอ่านที่ยั่งยืนให้แก่ประชนาชน</li>
          <li> พัฒนาการบริหารจัดการห้องสมุดให้มีประสิทธิภาพและประสิทธิผล</li>
          <li> พัฒนาบริการของห้องสมุดให้มีคุณภาพและส่งเสริมทักษะการเข้าถึงสารสนเทศ</li>
        </ul>
        <p>พัฒนาเครือข่ายความร่วมมือระหว่างห้องสมุด องค์กรและหน่วยงานภาครัฐและเอกชน</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>บริหารงานกิจกรรมส่งเสริมการอ่านและการเรียนรู้ตามโอกาสวันสำคัญหรือเทศกาลต่าง ๆ ในแต่ละเดือน เช่น
          กิจกรรมวันรักการอ่าน วันภาษาไทย วันสันติภาพไทย วันสุนทรภู่ วันวิทยาศาสตร์ เทศกาลบอกรักด้วยหนังสือ ฯลฯ
          ออกแบบให้มีความสวยงาม ทันสมัย น่าสนใจใช้งานง่าย แสดงถึงภาพลักษณ์ที่ดี เป็นสากล</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="http://119.63.76.11/liberty/libraryHome.do">สมัครสมาชิก</a>
      </div>
    </div>

  </div>
  <!-- /.container -->
<!--************************************
				Footer Start
		*****  footer start-->
<div class=" footer-wrap">
  <div class="container">
    <div class="row ">
      <div class="col-md-4 col-sm-6 ">
        <h3>เกี่ยวกับห้องสมุด</h3>
        <div class="footer-logo"><img src="image/logo1.png" alt=""></div>
        <p>เราอยากให้ทุกคนได้เข้าใจว่า การเรียนรู้ทำได้ตลอดชีวิต แล้วก็อยากให้นักเรียนในชุมชน หรือคนที่อยู่ใกล้ๆ
          สามารถมาใช้บริการของเราได้ เพราะเรามีกิจกรรมต่างๆ มากมาย

          ห้องสมุดเพื่อการเรียนรู้’ รวมถึงหอสมุดเมืองกรุงเทพมหานคร เป็นห้องสมุดที่อยู่ภายใต้การดูแลของ กทม.
          ที่ทุกคนสามารถเข้าไปใช้บริการได้ฟรี

          ซึ่งแต่เดิมหลายๆ คนน่าจะคุ้นเคยกันในชื่อ ‘ห้องสมุดประชาชน’ มากกว่า แต่ตั้งแต่ที่กรุงเทพฯ
          ได้รับเลือกให้เป็นเมืองหนังสือโลกในปี พ.ศ.2556 ทาง
          กทม.ก็พยายามปรับเปลี่ยนรูปแบบห้องสมุดให้น่าไปใช้บริการมากขึ้น <a href="about.html">อ่านต่อ</a></p>
      </div>
      <div class="col-md-2 col-sm-6">
        <h3>แผนผังเว็บไชต์</h3>
        <ul class="footer-links">
          <li><a href="index.html">หน้าแรก</a></li>
          <li><a href="services.html">บริการห้องสมุด</a></li>
          <li><a href="contact.html">ติดต่อเรา</a></li>
          <li><a href="portfolio-1-col.html">หนังสือและสื่อสิ่งพิมพ์</a></li>
          <li><a href="blog-home-1.html">ข่าวสาร/กิจกรรม</a></li>
          <li><a href="full-width.html">ระบบห้องสมุดต่างๆ</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>งานบริการ & งานช่วยเหลือ</h3>
        <ul class="footer-category">
          <li><a href="#.">ตู้ล็อกเกอร์</a></li>
          <li><a href="#.">จอง/ขอใช้บริการ</a></li>
          <li><a href="#.">ยืม-คืน</a></li>
          <li><a href="#.">ฟรีอิเตอร์เน็ต </a></li>
          <li><a href="#.">ข้อตกลงการใช้บริการ</a></li>
          <li><a href="#."> หนังสือแนะนำจากบรรณารักษ์</a></li>
          <li><a href="#.">แนะนำหนังสือมาใหม่</a></li>
          <li><a href="#.">ห้องสมุดทั้ง 36 แห่ง</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>ติดต่อเราสอบถามเพิ่มเติม</h3>
        <div class="address">ห้องสมุดเพื่อการเรียนรู้ สะพานสูง : เขตสะพานสูง
          ซ.รามคำแหง 118 ถ.รามคำแหง เขตสะพานสูง กทม. 10240
          โทร. 0 2372 2438, 0 2372 2439, 0 2372 2440
          วิธีการเดินทาง : รถเมล์สาย 168 / 514 / 519 / 58 / 113 / 8 แล้วต่อด้วยรถสองแถว</div>
        <div class="info"><i class="fa fa-phone" aria-hidden="true"></i> <a href="#.">(777) 123 4567</a></div>
        <div class="info"><i class="fa fa-fax" aria-hidden="true"></i> <a href="#.">(123) 456 7890</a></div>
      </div>
    </div>
    <div class="copyright">Copyright © 2020 ลิขสิทธิ์ของห้องสมุดเพื่อการเรียนรู้ กรุงเทพมหานคร </div>
  </div>
</div>

<!--footer end-->

<footer>

  <section class="wed-hom-footer">
    <div class="container">



      <!--SECTION เข้าสู่ระบบ, สมัครสมาชิก AND FORGOT PASSWORD-->
      <section>
        <!-- เข้าสู่ระบบ SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
          <div class="log-in-pop">
            <div class="log-in-pop-left">
              <h1>สวัสดี...</h1>
              <p>Don't have an account? Create your account. It's take less then a minutes</p>
              <h4>เข้าสู่ระบบ with social media</h4>
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                </li>
                <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                </li>
                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
              </ul>
            </div>

            <div class="log-in-pop-right">
              <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
              </a>
              <h4>เข้าสู่ระบบ</h4>
              <p>ยินดีต้อนรับสู่ระบบค้นหาข้อมูลห้องสมุด</p>
              <form class="s12">
                <div>
                  <div class="input-field s12">
                    <input type="text" data-ng-model="name" class="validate">
                    <label>User name</label>
                  </div>
                </div>
                <div>
                  <div class="input-field s12">
                    <input type="password" class="validate">
                    <label>Password</label>
                  </div>
                </div>
                <div>
                  <div class="s12 log-ch-bx">
                    <p>
                      <input type="checkbox" id="test5" />
                      <label for="test5">Remember me</label>
                    </p>
                  </div>
                </div>
                <div>
                  <div class="input-field s4">
                    <input type="submit" value="เข้าสู่ระบบ" class="waves-effect waves-light log-in-btn">
                  </div>
                </div>
                <div>
                  <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal"
                      data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal"
                      data-target="#modal2">Create a new account</a> </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- สมัครสมาชิก SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
          <div class="log-in-pop">
            <div class="log-in-pop-left">
              <h1>สวัสดี...</h1>
              <p>Don't have an account? Create your account. It's take less then a minutes</p>
              <h4>เข้าสู่ระบบ with social media</h4>
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                </li>
                <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                </li>
                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
              </ul>
            </div>
            <div class="log-in-pop-right">
              <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
              </a>
              <h4>Create an Account</h4>
              <p>Don't have an account? Create your account. It's take less then a minutes</p>
              <form class="s12">
                <div>
                  <div class="input-field s12">
                    <input type="text" data-ng-model="name1" class="validate">
                    <label>User name</label>
                  </div>
                </div>
                <div>
                  <div class="input-field s12">
                    <input type="email" class="validate">
                    <label>Email id</label>
                  </div>
                </div>
                <div>
                  <div class="input-field s12">
                    <input type="password" class="validate">
                    <label>Password</label>
                  </div>
                </div>
                <div>
                  <div class="input-field s12">
                    <input type="password" class="validate">
                    <label>Confirm password</label>
                  </div>
                </div>
                <div>
                  <div class="input-field s4">
                    <input type="submit" value="สมัครสมาชิก" class="waves-effect waves-light log-in-btn">
                  </div>
                </div>
                <div>
                  <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal"
                      data-target="#modal1">Are you a already member ? เข้าสู่ระบบ</a> </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3 " class="modal fade" role="dialog">
          <div class="log-in-pop">
            <div class="log-in-pop-left">
              <h1>สวัสดี... </h1>
              <p>Don't have an account? Create your account. It's take less then a minutes</p>
              <h4>เข้าสู่ระบบ with social media</h4>
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                </li>
                <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                </li>
                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
              </ul>
            </div>
            <div class="log-in-pop-right">
              <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
              </a>
              <h4>Forgot password</h4>
              <p>Don't have an account? Create your account. It's take less then a minutes</p>
              <form class="s12">
                <div>
                  <div class="input-field s12">
                    <input type="text" data-ng-model="name3" class="validate">
                    <label>User name or email id</label>
                  </div>
                </div>
                <div>
                  <div class="input-field s4">
                    <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn">
                  </div>
                </div>
                <div>
                  <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal"
                      data-target="#modal1">Are you a already member ? เข้าสู่ระบบ</a> | <a href="#"
                      data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new
                      account</a> </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Custom styles bo test -->
  <script src="js/scrollbar_bo.js"></script>
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>
</body>

</html>
